h1
  text-align: center

#search_bar
  text-align: center
  div
    @media only screen and (max-width: 480px)
      width: 50%
    label
      @media  only screen and (min-width: 1025px)
        padding-right: 5px
        padding-left: 10px 

#search_results
  @media  only screen and (min-width: 1025px)
    padding-left: 10%
    padding-right: 10%

.table-responsive
  margin-top: 30px

